<%- include("partials/header"); -%>










<h1> <%=city%></h1>
<h1>Active= <%=statewise.active%></h1>










<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<%- include("partials/footer"); -%>
